
h1{
    text-align: center;
    margin-top: 15px;
    font-family: 'Aboreto', cursive;
}
.myform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 545px;
    padding-bottom: 15px;
}

.myinput{
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    margin: 15px 25px;
    padding: 10px 25px;
    width: 50%;
    outline: none;
}

.btn{
    font-size: 15px;
    font-family: 'Aboreto', cursive;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(33, 5, 118);
    color: white;
    padding: 10px;
    margin: 5px;
}
.btn:hover{
    border: 2px solid rgb(20, 0, 197);
    background-color: red;
}
